/*  ==================
    Sections Navigator
    ==================
    
    1. Global Rules
    2. Header Rules
    3. Main Section Rules

    ==================  */

/*  ============
    Global Rules
    ============  */
* {
  box-sizing: border-box;
}
body {
  --bg-color: #bde0fe;
  --light-bg-color: #e1f1ff;
  --accent-color: #5e96f5;
  --ordinary-color: #3b4a65;
  font-family: "Cairo", sans-serif;
  height: 100vh;
}
@media (max-width: 460px) {
  body {
    font-size: 13px;
  }
}
.highlighted-text {
  color: var(--accent-color) !important;
  font-weight: bold !important;
  letter-spacing: 0.5px;
}
.container {
  padding: 20px 16px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    width: 570px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
.img-container {
  overflow: hidden;
}
.img-container img {
  max-width: 100%;
}
.landing {
  height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr;
  background-color: var(--bg-color);
  background: linear-gradient(
    to bottom right,
    rgba(189, 224, 254, 1) 0%,
    rgba(218, 196, 236, 1) 50%,
    rgba(189, 224, 254, 1) 100%
  );
  background-size: 100000% 100000%;
  animation: move-background 10s linear infinite;
}
@keyframes move-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
/*  ============
    Header Rules
    ============  */
header {
  /* background-color: var(--bg-color); */
  z-index: 5;
}
header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px); /* 32px -> Padding */
  background-color: var(--ordinary-color);
  height: 3px;
}
header .logo {
  margin: 0;
}
header .logo a {
  position: relative;
  display: flex;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 1.5px;
  text-decoration: none;
  user-select: none;
}
header .logo a img {
  width: 50px;
}
@media (max-width: 305px) {
  header .logo a img {
    display: none;
  }
}
@media (max-width: 460px) {
  header .logo a img {
    width: 40px;
  }
}
header nav {
  display: flex;
}
@media (max-width: 460px) {
  header nav {
    flex-direction: column;
  }
}
header nav a {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding-left: 10px;
  /* Text Properities */
  color: var(--ordinary-color);
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.1s;
  text-decoration: none;
}
@media (max-width: 460px) {
  header nav a {
    margin-left: 0;
    margin-top: 5px;
  }
}
header nav a:hover {
  cursor: pointer;
  color: var(--accent-color);
}
header nav a::before {
  /* Insert ( | ) At Left */
  content: "";
  position: absolute;
  left: 0px;
  top: 10%;
  width: 3px;
  height: 80%;
  background-color: var(--ordinary-color);
  transition: background-color 0.1s 0.3s, height 0.1s 0.3s;
}
header nav a:hover::before {
  background-color: var(--accent-color);
  height: 100%;
  transition-delay: 0s;
}
header nav a::after {
  /* Under Line The Word */
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--accent-color);
  transition: width 0.3s;
}
header nav a:hover::after {
  width: 100%;
  transition-delay: 0.1s;
}

/*  ==================
    Main Section Rules
    ==================  */
main {
  position: relative;
  transform: translate(0);
  display: flex;
  align-items: center;
}
main .container {
  position: relative;
  height: 100%;
  /* Position Childs */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* Planes Style */
main .bg-plane {
  position: absolute;
  z-index: -1;
  top: calc(50% - 150px);
  right: -100px;
  width: 250px;
  user-select: none;
  animation: sm-plane-fly 9s ease-in-out infinite;
}
@keyframes sm-plane-fly {
  0% {
    transform: translateY(-50px) rotate(-60deg);
  }
  50% {
    transform: translateY(-50px) rotate(-70deg);
  }
  100% {
    transform: translateY(-50px) rotate(-60deg);
  }
}
@media (max-width: 460px) {
  main .bg-plane:nth-child(1) {
    display: none;
  }
}
@keyframes md-plane-fly {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-65deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@media (min-width: 768px) {
  main .bg-plane {
    width: 300px;
    animation-name: md-plane-fly;
  }
}
@keyframes lg-plane-fly {
  0% {
    transform: translateY(100px) rotate(-45deg);
  }
  50% {
    transform: translateY(100px) rotate(-65deg);
  }
  100% {
    transform: translateY(100px) rotate(-45deg);
  }
}
@media (min-width: 992px) {
  main .bg-plane {
    animation-name: lg-plane-fly;
  }
}
/* Picture Style */
.img-brackets-container {
  width: fit-content;
  position: relative;
  width: 240px;
  height: 220px;
}
@media (max-height: 600px) {
  .img-brackets-container {
    width: 160px;
    height: 140px;
  }
}
@media (max-height: 450px) {
  .img-brackets-container {
    display: none;
  }
}
.img-brackets-container .bracket {
  position: absolute;
  height: 100%;
  user-select: none;
}
@media (max-width: 400px) {
  .img-brackets-container .bracket {
    display: none;
  }
}
.img-brackets-container .left-bracket {
  right: calc(100% + 30px);
}
.img-brackets-container .right-bracket {
  left: calc(100% + 30px);
}
@media (max-width: 460px) {
  .img-brackets-container .left-bracket {
    right: calc(100% - 10px);
  }
  .img-brackets-container .right-bracket {
    left: calc(100% - 10px);
  }
}
main .img-container {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  border-radius: 51% 49% 59% 41% / 80% 50% 50% 20%;
}
main .img-container::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-bg-color);
}
main .img-container img {
  position: absolute;
  top: -20px;
  left: 0;
}
/* Text Style */
main .text {
  margin-top: 30px;
  color: var(--ordinary-color);
  line-height: 1.3;
}
main .text h2 {
  font-size: 1.6em;
  margin: 10px;
}
@media (max-height: 600px) {
  main .text {
    margin-top: 0;
  }
}
main .text p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
