/* Global Rules */

* {
  box-sizing: border-box;
}
:root {
  --bg-color: #bde0fe;
  --light-bg-color: #e1f1ff;
  --accent-color: #5e96f5;
  --ordinary-color: #3b4a65;
  font-family: "Cairo", sans-serif;
}
.highlighted-text {
  color: var(--accent-color) !important;
  font-weight: bold !important;
  letter-spacing: 0.5px;
}
.img-container {
  overflow: hidden;
}
.img-container img {
  max-width: 100%;
}

/* Body */

body {
  position: relative;
  min-height: 100dvh;
  /* Background Rules */
  background: linear-gradient(
    to bottom right,
    #bde0fe 0%,
    #dac4ec 50%,
    #bde0fe 100%
  );
  background-size: 100000% 100000%;
  animation: move-background 10s linear infinite;
  /* Position Childs */
  display: flex;
  justify-content: center;
  padding: 10% 1rem;
}
@media (min-width: 768px) {
  body {
    height: 100dvh;
    align-items: center;
  }
}
@keyframes move-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Main */

main {
  /* children position */
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: space-between;
  /* background rules */
  border-radius: 25px;
  background-image: linear-gradient(to right bottom, #fff6, #fff3);
  backdrop-filter: blur(20px);
  overflow: hidden;
}
header,
.projects {
  padding: 30px;
}
@media (min-width: 576px) {
  main {
    width: 570px;
  }
}
@media (min-width: 768px) {
  main {
    width: 750px;
  }
}
@media (min-width: 992px) {
  main {
    width: 800px;
  }
}

/* Header */

header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff9;
}

/* Beltagy Picture */

header .picture {
  flex-shrink: 0;
  width: 150px;
  aspect-ratio: 1 / 1;
  /* border-radius: 51% 49% 59% 41% / 80% 50% 50% 20%; */
  background-color: #e1f1ff;
  border-radius: 100%;
  /* border: 5px solid var(--ordinary-color); */
}
header .picture img {
  transform: scale(1.1);
}
header .icons {
  flex-shrink: 0;
  width: 30px;
}
header .icons a {
  width: 100%;
  display: block;
}
header .icons a:first-child {
  margin-bottom: 10px;
}
/* About Beltagy Style */

header .text {
  color: var(--ordinary-color);
  line-height: 1.3;
}
header .text h2 {
  font-size: 1.6em;
  margin: 10px 0 10px;
  padding: 0;
}
@media (max-height: 600px) {
  header .text {
    margin-top: 0;
  }
}
header .text p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

/* Projects Rules */

.projects {
  /* min-height: 100vh; */
  display: grid;
  grid-template-rows: auto 1fr;
}
.projects h2 {
  margin: 0 auto;
  padding: 0px 10px 60px;
  width: fit-content;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -2px;
  color: var(--ordinary-color);
}
.projects h2 + p {
  position: relative;
  margin: -60px auto 60px;
  width: fit-content;
  text-transform: capitalize;
  font-size: 1.1em;
  line-height: 0.5;
  letter-spacing: 3px;
  color: #597097;
  opacity: 0.7;
  /* word-spacing: -2px; */
}
.projects h2 + p::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #597097;
  border-radius: 10px;
}
.projects .container {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  width: fit-content;
  margin: auto;
}
@media (min-width: 768px) {
  .projects .container {
    grid-template-columns: repeat(2, 335px);
  }
}
@media (min-width: 992px) {
  .projects .container {
    grid-template-columns: repeat(2, 350px);
  }
}

.project-container {
  position: relative;
  /* border: 3px solid var(--ordinary-color); */
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 12 / 8;
}
.project-container .img-container {
  width: 100%;
  transition: transform 0.5s;
}
.project-container:hover .img-container {
  transform: scale(1.2);
}
.project-container h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 60% 0 10px 10px;
  width: 100%;
  background-image: linear-gradient(to top, #fff7, #fff4);
  color: var(--ordinary-color);
  font-size: 1.5em;
  text-transform: uppercase;
  transition: padding 0.5s;
}
.project-container:hover h3 {
  padding: 10px;
}
